Options -Indexes
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /Church/Application/
    RewriteCond %{REQUEST_URI} !^/Church/Application/views/crypts/ [NC]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>