@model StaticPagedList<dtoCrypts>
@{
    ViewBag.Title = "Criptas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Ajax.BeginForm(
                    new AjaxOptions
                    {
                        HttpMethod = "get",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "CryptsList"
                    }))
{
    <div class="row">
        <div class="col-md-10 col-sm-10 col-xs-12">
            <h2>@ViewBag.Title</h2>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-12">
            <p style="text-align:right; padding-top:20px">
                <a style="width:100%;" href="@Url.Action("Create","Crypts",null)" class="btn btn-default btn-large">Agregar</a>
            </p>
        </div>
    </div>
    @Html.Partial("_Crypts", Model)
}

@section scripts {
    <script src="~/Scripts/ui.datepicker-es-MX.js"></script>
    <script type="text/javascript">
        $(function () {
            $.datepicker.setDefaults($.datepicker.regional['es-MX']);
            $(".datepicker").datepicker();
        });
        $(".only-numeric").keydown(function (event) {
            if (event.shiftKey) {
                event.preventDefault();
            }

            if ($(this).val().indexOf('.') != -1 && (event.keyCode == 190 || event.keyCode == 110)) {
                event.preventDefault();
            }

            if ((event.keyCode == 190 || event.keyCode == 110) || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 16 || (event.keyCode >= 37 && event.keyCode <= 40)) {
            }
            else {
                if (event.keyCode < 95) {
                    if (event.keyCode < 48 || event.keyCode > 57) {
                        event.preventDefault();
                    }
                }
                else {
                    if (event.keyCode < 96 || event.keyCode > 105) {
                        event.preventDefault();
                    }
                }
            }
        });
    </script>
}