@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>

    <style type="text/css">
        .tdImage {
            height: 60px;
        }

        .tdTitle {
            padding-left: 50px;
        }

        .labeltitles {
            text-align: right;
            font-weight: bold;
            padding: 3px;
            font-size: 14px;
        }

        .upperProperty {
            text-transform: uppercase;
        }

        .labelSubtitles {
            font-weight: bold;
            padding: 3px;
            font-size: 13px;
        }

        .labelColorSubtitles {
            color: #ff6a00;
        }

        .labelContent {
            font-size: 14px;
            font-weight: normal;
        }

        .labelTableTitles {
            text-align: left;
            font-weight: bold;
            padding: 3px;
            font-size: 12px;
        }

        .labelTableSubtitles {
            text-align: right;
            font-weight: bold;
            padding: 3px;
            font-size: 10px;
        }

        .labelTableContent {
            font-size: 10px;
        }

        .table_b, .tr_b, .td_b {
            border: 1px solid black;
        }
    </style>
</head>

<body>
    @RenderBody()
</body>
</html>