@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Hola @User.Identity.GetUserName()!
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a style="margin-left: 7%;" href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a>
                </div>
            </li>
        </ul>
    }
}