<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <style>
        @import url(https://fonts.googleapis.com/css?family=Raleway:300,700);
    </style>
</head>

<body>
    <div class="">
        <div class="aHl"></div><div id=":17s" tabindex="-1"></div><div id=":16e" class="ii gt">
            <div id=":16f">
                <u></u>


                <div>


                    <table bgcolor="White" align="center" border="0" cellspacing="0" cellpadding="0" style="padding:0px;border: 1px solid lightgray;border-radius:15px 15px;">
                        <tbody>
                            <tr>
                                <td align="center"
                                    style="padding-left:40px;padding-right:40px;padding-bottom:15px;padding-top:10px;
                                            border-radius:15px 15px 0px 0px;
                                            font-family:'Raleway',Helvetica, Arial, sans-serif;
                                            font-size:25px;
                                            font-weight:300;
                                            color:#FFF;
                                            line-height:1.5;
                                            letter-spacing:normal;
                                            background-color:#004882;">
                                    EFT Móvil
                                </td>
                            </tr>
                            <tr>
                                <td align="center" style="padding-left:40px;padding-right:40px;padding-bottom:30px;padding-top:0px">

                                    <table align="center" border="0" cellspacing="0" cellpadding="0" style="padding:0px">
                                        <tbody>

                                            <tr>
                                                <td>
                                                    <div>
                                                        <table border="0" cellpadding="0" cellspacing="0" style="border:none;border-spacing:0;width:100%">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="padding:0;margin:0;width:79%;"></td>
                                                                    <td style="padding:0;margin:0;width:15%"></td>
                                                                    <td style="padding:0;margin:0;width:6%;min-width:15px" align="center"></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <br /><span style="font-family:'Raleway',sans-serif;color:#000000;font-weight:lighter;font-size:22px"><strong>Estimado Usuario</strong></span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="font-family:'Raleway',sans-serif;font-size:16px;">
                                                    <br />
                                                    <p>Recibimos tu solicitud recuperación de contraseña. </p>
                                                    <p>Esta es tu nueva contraseña:</p>
                                                    <b style="color:#164677;text-align:center;font-size:20px;">{Code}</b>
                                                    <br />
                                                    <br />
                                                    <p>Te recomendamos cambiarla lo antes posible</p>
                                                    <br />

                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table>
                                                        <tbody>
                                                            <tr style="padding-bottom:10px;">
                                                                <td style="background-color:inherit;
                                                        border:none;
                                                        border-collapse:collapse!important;
                                                        border-radius:4px 4px 4px 4px;
                                                        border:0px solid #000000;
                                                        line-height:1.3;
                                                        margin:0;padding:0;text-align:left;
                                                        vertical-align:top;
                                                        word-wrap:break-word">
                                                                    <p style="text-align:center">
                                                                    </p>
                                                                    <br />
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>


                                                </td>

                                            </tr>

                                        </tbody>
                                    </table>

                                </td>
                            </tr>

                        </tbody>
                    </table>


                </div>


            </div>

</body>
</html>