@model AxuEmail
@{
    ViewBag.Title = "Welcome";
}

<h2>Bienvenido C. @Model.ClientName</h2>

<p>Gracias por registrarse</p>
<br />
<p>Su usuario es @Model.Email</p>
<br />
<p>Su Contraseña es @Model.Password</p>
