USE [alexisnoches_SampleDB]
GO
/****** Object:  StoredProcedure [dbo].[stp_discounts]    Script Date: 5/2/2024 10:20:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****************************************************************************/

ALTER PROCEDURE [dbo].[stp_discounts]
(
	@method 					VARCHAR(100)
	, @startDate				DATE			= NULL
	, @endDate					DATE			= NULL
	, @tempstartDate			DATE			= NULL
	, @tempendDate				DATE			= NULL
	, @discountId				INT				= NULL
	, @description 				VARCHAR(600)	= NULL
	, @percentage				DECIMAL(10, 2)	= NULL
	, @tempdescription 			VARCHAR(600)	= NULL
	, @temppercentage			DECIMAL(10, 2)	= NULL
	, @logMessageNew			VARCHAR(MAX)	= NULL
	, @logMessageOld			VARCHAR(MAX)	= NULL
	, @userId					INT				= NULL
	, @statusId					INT				= NULL
	, @tempstatusId				INT				= NULL
)

 
AS
SET NOCOUNT ON
-----------------------------------------------------------------------------------------------------------
IF @method = 'consultAll' BEGIN

	DECLARE cursor_discount CURSOR FOR (SELECT [id] FROM [cat_discounts] WHERE [cat_status_id] != 6)

	OPEN cursor_discount
    FETCH NEXT FROM cursor_discount INTO @discountId

	WHILE @@FETCH_STATUS = 0
    BEGIN
		SELECT 
		@startDate = [start_date]
		,@endDate = [end_date]
		FROM [cat_discounts]
		WHERE [id] = @discountId
        
		IF @startDate > GETDATE() 
			BEGIN
				UPDATE [cat_discounts]
				SET [cat_status_id] = 3 -- estatus pendiente para descuentos
				WHERE [id] = @discountId
			END
		ELSE
			BEGIN
				if @endDate >= GETDATE() 
					BEGIN
						UPDATE [cat_discounts]
						SET [cat_status_id] = 4 -- estatus activo para descuentos
						WHERE [id] = @discountId
					END
				ELSE
					BEGIN
						UPDATE [cat_discounts]
						SET [cat_status_id] = 5 -- estatus expirado para descuentos
						WHERE [id] = @discountId
					END
			END
        
        FETCH NEXT FROM cursor_discount INTO @discountId
    END

    CLOSE cursor_discount
    DEALLOCATE cursor_discount

	SELECT d.[id]
		,d.[description]
		,d.[percentage]
		,d.[start_date]
		,d.[end_date]
		,d.[cat_status_id]
		,s.[description] as 'status'
	FROM [cat_discounts] d
	INNER JOIN [cat_status] s ON d.[cat_status_id] = s.[id]
	ORDER BY d.[id] DESC
END
-----------------------------------------------------------------------------------------------------------
IF @method = 'consultByStatus' BEGIN

	DECLARE cursor_discount CURSOR FOR (SELECT [id] FROM [cat_discounts])

	OPEN cursor_discount
    FETCH NEXT FROM cursor_discount INTO @discountId

	WHILE @@FETCH_STATUS = 0
    BEGIN
		SELECT 
		@startDate = [start_date]
		,@endDate = [end_date]
		FROM [cat_discounts]
		WHERE [id] = @discountId
        
		IF @startDate > GETDATE() 
			BEGIN
				UPDATE [cat_discounts]
				SET [cat_status_id] = 3 -- estatus pendiente para descuentos
				WHERE [id] = @discountId
			END
		ELSE
			BEGIN
				if @endDate >= GETDATE() 
					BEGIN
						UPDATE [cat_discounts]
						SET [cat_status_id] = 4 -- estatus activo para descuentos
						WHERE [id] = @discountId
					END
				ELSE
					BEGIN
						UPDATE [cat_discounts]
						SET [cat_status_id] = 5 -- estatus expirado para descuentos
						WHERE [id] = @discountId
					END
			END
        
        FETCH NEXT FROM cursor_discount INTO @discountId
    END

    CLOSE cursor_discount
    DEALLOCATE cursor_discount

	SELECT d.[id]
		,d.[description]
		,d.[percentage]
		,d.[start_date]
		,d.[end_date]
		,d.[cat_status_id]
		,s.[description] as 'status'
	FROM [cat_discounts] d
	INNER JOIN [cat_status] s ON d.[cat_status_id] = s.[id]
	WHERE d.[cat_status_id] = @statusId
	ORDER BY d.[id] DESC
END
-----------------------------------------------------------------------------------------------------------
IF @method = 'create' BEGIN
	BEGIN TRANSACTION;
	
	INSERT INTO [cat_discounts] ([description],[percentage],[start_date],[end_date],[cat_status_id])
	VALUES (@description,@percentage,@startDate,@endDate,3)

	IF @@ERROR <> 0
	BEGIN
		-- Si hay un error, realiza un rollback para deshacer los cambios
		ROLLBACK TRANSACTION;
		SELECT 
		-1 as 'code',
		'Eror al momento de insertar descuento' as 'message'
		RETURN;
	END

	COMMIT TRANSACTION;

	-- Guardar registro
	SET @logMessageNew = CONCAT('Creación de descuento: ', @description)
	INSERT INTO log_changes(new_value,cat_user_id,log_date)
	VALUES (@logMessageNew,@userId,GETDATE())

	SELECT 
	1 as 'code',
	'descuento creado con éxito' as 'message'
END
-----------------------------------------------------------------------------------------------------------
IF @method = 'update' BEGIN

	SELECT
	@tempdescription = [description]
	, @tempendDate = [end_date]
	, @temppercentage = [percentage]
	, @tempstartDate = [start_date]
	, @tempstatusId = [cat_status_id]
	FROM [cat_discounts]
	WHERE id = @discountId
	
	IF @description is NULL
		BEGIN
			SET @description = @tempdescription
		END
	ELSE
		BEGIN
			IF @description != @tempdescription
				BEGIN
					SET @logMessageOld = CONCAT(@logMessageOld, ' description: ', @tempdescription)
					SET @logMessageNew = CONCAT(@logMessageNew, ' description: ', @description)
				END
		END

	IF @startDate is NULL
		BEGIN
			SET @startDate = @tempstartDate
		END
	ELSE
		BEGIN
			IF @startDate != @tempstartDate
				BEGIN
					SET @logMessageOld = CONCAT(@logMessageOld, ' start_date: ', @tempstartDate)
					SET @logMessageNew = CONCAT(@logMessageNew, ' start_date: ', @startDate)
				END
		END

	IF @endDate is NULL
		BEGIN
			SET @endDate = @tempendDate
		END
	ELSE
		BEGIN
			IF @endDate != @tempendDate
				BEGIN
					SET @logMessageOld = CONCAT(@logMessageOld, ' end_date: ', @tempendDate)
					SET @logMessageNew = CONCAT(@logMessageNew, ' end_date: ', @endDate)
				END
		END

	IF @percentage is NULL
		BEGIN
			SET @percentage = @temppercentage
		END
	ELSE
		BEGIN
			IF @percentage != @temppercentage
				BEGIN
					SET @logMessageOld = CONCAT(@logMessageOld, ' percentage: ', @temppercentage)
					SET @logMessageNew = CONCAT(@logMessageNew, ' percentage: ', @percentage)
				END
		END

	IF @statusId is NULL
		BEGIN
			SET @statusId = @tempstatusId
		END
	ELSE
		BEGIN
			IF @statusId != @tempstatusId
				BEGIN
					IF @statusId = 6
						BEGIN
							SET @logMessageOld = CONCAT(@logMessageOld, ' percentage: ', @tempstatusId)
							SET @logMessageNew = CONCAT(@logMessageNew, ' percentage: ', @statusId)
						END
				END
		END

	BEGIN TRANSACTION;
	
	UPDATE [cat_discounts]
	SET [description] = @description
	, [percentage] = @percentage
	, [start_date] = @startDate
	, [end_date] = @endDate
	WHERE id = @discountId


	IF @@ERROR <> 0
	BEGIN
		-- Si hay un error, realiza un rollback para deshacer los cambios
		ROLLBACK TRANSACTION;
		SELECT 
		-1 as 'code',
		'Eror al momento de actualizar descuento' as 'message'
		RETURN;
	END

	COMMIT TRANSACTION;

	-- Guardar registro
	INSERT INTO log_changes(new_value,old_value,cat_user_id,log_date)
	VALUES (@logMessageNew,@logMessageOld,@userId,GETDATE())

	SELECT 
	1 as 'code',
	'descuento actualizado con éxito' as 'message'
END
-----------------------------------------------------------------------------------------------------------