USE [alexisnoches_SampleDB]
GO
/****** Object:  StoredProcedure [dbo].[stp_federal_tax]    Script Date: 5/6/2024 2:57:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[stp_maintenance_fee]
(
	@method 					VARCHAR(100)
	, @cost						DECIMAL(10, 2)	= NULL
	, @costShared				DECIMAL(10, 2)	= NULL
	, @tempcost					DECIMAL(10, 2)	= NULL
	, @tempCostShared			DECIMAL(10, 2)	= NULL
	, @logMessageNew			VARCHAR(MAX)	= NULL
	, @logMessageOld			VARCHAR(MAX)	= NULL
	, @userId					INT				= NULL
)
 
AS
SET NOCOUNT ON
-----------------------------------------------------------------------------------------------------------
IF @method = 'consultAll' BEGIN
	SELECT * FROM [cat_maintenance_fee]
END
-----------------------------------------------------------------------------------------------------------
IF @method = 'update' BEGIN

	SELECT
	@tempcost = [cost]
	,@tempCostShared = cost_shared
	FROM [cat_maintenance_fee]
	
	IF @cost is NULL
		BEGIN
			SET @cost = @tempcost
		END
	ELSE
		BEGIN
			IF @cost != @tempcost
				BEGIN
					SET @logMessageOld = CONCAT(@logMessageOld, ' cost: ', @tempcost)
					SET @logMessageNew = CONCAT(@logMessageNew, ' cost: ', @cost)
				END
		END

	IF @costShared is NULL
		BEGIN
			SET @costShared = @tempCostShared
		END
	ELSE
		BEGIN
			IF @costShared != @tempCostShared
				BEGIN
					SET @logMessageOld = CONCAT(@logMessageOld, ' cost_shared: ', @tempCostShared)
					SET @logMessageNew = CONCAT(@logMessageNew, ' cost_shared: ', @costShared)
				END
		END

	BEGIN TRANSACTION;
	
	UPDATE [cat_maintenance_fee]
	SET [cost] = @cost
	, [cost_shared] = @costShared


	IF @@ERROR <> 0
	BEGIN
		-- Si hay un error, realiza un rollback para deshacer los cambios
		ROLLBACK TRANSACTION;
		SELECT 
		-1 as 'code',
		'Eror al momento de actualizar costos de mantenimiento' as 'message'
		RETURN;
	END

	COMMIT TRANSACTION;

	-- Guardar registro
	INSERT INTO log_changes(new_value,old_value,cat_user_id,log_date)
	VALUES (@logMessageNew,@logMessageOld,@userId,GETDATE())

	SELECT
	1 as 'code',
	'costos de mantenimiento actualizados con éxito' as 'message'
END
-----------------------------------------------------------------------------------------------------------