USE [alexisnoches_SampleDB]
GO
/****** Object:  StoredProcedure [dbo].[stp_cities]    Script Date: 5/2/2024 1:23:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****************************************************************************/

ALTER PROCEDURE [dbo].[stp_intents_type]	
(
	@method 					VARCHAR(100)
	, @intent					VARCHAR(200) = NULL
	, @logMessageNew			VARCHAR(MAX) = NULL
	, @userId					INT			 = NULL
)
 
AS
SET NOCOUNT ON
-----------------------------------------------------------------------------------------------------------
IF @method = 'consultAll' BEGIN
	SELECT * FROM [cat_intents_type]
END
-----------------------------------------------------------------------------------------------------------
IF @method = 'create' BEGIN
	BEGIN TRANSACTION;
	
	INSERT INTO [cat_intents_type] ([intent])
	VALUES (@intent)

	IF @@ERROR <> 0
	BEGIN
		-- Si hay un error, realiza un rollback para deshacer los cambios
		ROLLBACK TRANSACTION;
		SELECT 
		-1 as 'code',
		'Eror al momento de insertar motivo de misa' as 'message'
		RETURN;
	END

	COMMIT TRANSACTION;

	-- Guardar registro
	SET @logMessageNew = CONCAT('Creación de motivo de misa: ', @intent)
	INSERT INTO log_changes(new_value,cat_user_id,log_date)
	VALUES (@logMessageNew,@userId,GETDATE())

	SELECT 
	1 as 'code',
	'motivo de misa creada con éxito' as 'message'
END
-----------------------------------------------------------------------------------------------------------