USE [alexisnoches_SampleDB]
GO
/****** Object:  StoredProcedure [dbo].[stp_days]    Script Date: 5/6/2024 5:05:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****************************************************************************/

ALTER PROCEDURE [dbo].[stp_states_towns]
(
	@method 					VARCHAR(100)
)
 
AS
SET NOCOUNT ON
-----------------------------------------------------------------------------------------------------------
IF @method = 'consultAll' BEGIN
	SELECT 
	s.id as 'state_id'
	,s.state
	,t.id as 'town_id'
	,t.town
	FROM [cat_states] s
	LEFT JOIN  [cat_towns] t ON t.cat_states_id = s.id
	ORDER BY s.id
END
-----------------------------------------------------------------------------------------------------------