USE [alexisnoches_SampleDB]
GO
/****** Object:  StoredProcedure [dbo].[stp_access]    Script Date: 4/25/2024 8:42:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****************************************************************************/

ALTER PROCEDURE [dbo].[stp_access]	
(
	@method 					VARCHAR(100)
	, @userId					INT				= NULL
	, @userIdTemporal			INT				= NULL
	, @customerId				INT				= NULL
	, @email					VARCHAR(500)	= NULL
	, @password					VARCHAR(500)	= NULL
	, @catRolesId				INT				= NULL
	, @catStatusId				INT				= NULL
	, @name						VARCHAR(200)	= NULL
	, @psurname					VARCHAR(100)	= NULL
	, @msurname					VARCHAR(100)	= NULL
	, @phone					VARCHAR(20)	    = NULL
	, @Base64Password			VARCHAR(MAX)	= NULL
	, @existUser				INT				= NULL
	, @customerNumber			INT				= NULL
	, @rfc						VARCHAR(50)		= NULL
	, @cpCode					VARCHAR(10)		= NULL
	, @address					VARCHAR(600)	= NULL
	, @catStatesId				INT				= NULL
	, @catTownsId				INT				= NULL
	, @logMessageNew			VARCHAR(MAX)	= NULL
	, @logMessageOld			VARCHAR(MAX)	= NULL
)
 
AS
SET NOCOUNT ON
-----------------------------------------------------------------------------------------------------------
IF @method = 'createUserEmployee' BEGIN
	/*
		requiere que se le envien -- todos los datos son requeridos
			-@email
			-@password
			-@catRolesId
			-@catStatusId
			-@name
			-@psurname
			-@msurname
			-@phone
	*/

	-- Valida que correo este disponible
	SELECT 
	@existUser = COUNT(id)
	FROM [cat_user]
	WHERE [email] = @email;

	IF @existUser>0 BEGIN
		SELECT 
		-1 as 'code',
		'Correo ya utilizado por otro usuario' as 'message'
		RETURN;
	END

	-- Convierte contraseña a Base64
	SET @Base64Password  = (SELECT CAST(@password as varbinary(max)) FOR XML PATH(''))

	BEGIN TRANSACTION;

	-- Insertar datos a usuario
	DECLARE @generated_keys_employee table([Id] int)
	INSERT INTO [cat_user] ([email], [password], [cat_roles_id], [cat_status_id])
	OUTPUT INSERTED.ID INTO @generated_keys_employee
	VALUES (@email, @Base64Password, @catRolesId, @catStatusId);
	SELECT @userIdTemporal = id FROM @generated_keys_employee

	-- Insertar datos a empleados
	INSERT INTO [cat_employee] ([cat_user_id], [name], [psurname], [msurname], [phone], [email])
	VALUES (@userIdTemporal, @name, @psurname, @msurname, @phone, @email);

	-- Verifica si hubo algún error en la inserción
	IF @@ERROR <> 0
	BEGIN
		-- Si hay un error, realiza un rollback para deshacer los cambios
		ROLLBACK TRANSACTION;
		SELECT 
		-1 as 'code',
		'Eror al momento de insertar el usuario' as 'message'
		RETURN;
	END

	-- Si no hay errores, confirma la transacción
	COMMIT TRANSACTION;

	-- Guardar registro
	SET @logMessageNew = CONCAT('Creación de usuario/empleado: ', CAST(@userIdTemporal AS NVARCHAR(50)))
	INSERT INTO log_changes(new_value,cat_user_id,log_date)
	VALUES (@logMessageNew,@userId,GETDATE())

	SELECT 
	1 as 'code',
	'usuario registrado con éxito' as 'message'
END
-----------------------------------------------------------------------------------------------------------
IF @method = 'createUserCustomer' BEGIN
	/*
		requiere que se le envien
			-@email --------------- requerido
			-@password ------------ requerido
			-@catRolesId ---------- requerido
			-@catStatusId --------- requerido
			-@name ---------------- requerido
			-@psurname ------------ requerido
			-@msurname
			-@phone
			-@rfc
			-@cpCode
			-@address
			-@catStatesId --------- requerido
			-@catTownsId ---------- requerido
	*/

	-- Valida que correo este disponible
	SELECT 
	@existUser = COUNT(id)
	FROM [cat_user]
	WHERE [email] = @email;

	IF @existUser>0 BEGIN
		SELECT 
		-1 as 'code',
		'Correo ya utilizado por otro usuario' as 'message'
		RETURN;
	END

	-- Convierte contraseña a Base64
	SET @Base64Password  = (SELECT CAST(@password as varbinary(max)) FOR XML PATH(''))

	BEGIN TRANSACTION;

	-- Insertar datos a usuario
	DECLARE @generated_keys_customer table([Id] int)
	INSERT INTO [cat_user] ([email], [password], [cat_roles_id], [cat_status_id])
	OUTPUT INSERTED.ID INTO @generated_keys_customer
	VALUES (@email, @Base64Password, @catRolesId, @catStatusId);
	SELECT @userIdTemporal = id FROM @generated_keys_customer

	-- Incrementar el número de cliente de 8 en 8 
	SELECT TOP(1)
	@customerNumber = customer_number
	FROM cat_customers ORDER BY id DESC
	SET @customerNumber = @customerNumber + 8

	-- Insertar datos a empleados
	INSERT INTO [cat_customers] (
		[cat_user_id], 
		[customer_number], 
		[cat_status_id], 
		[name], 
		[psurname], 
		[msurname], 
		[phone], 
		[email], 
		[rfc], 
		[cp_code], 
		[address], 
		[cat_states_id], 
		[cat_towns_id]
	)
	VALUES (
		@userIdTemporal,  -- cat_user_id
		@customerNumber,  -- customer_number
		@catStatusId,  -- cat_status_id
		@name,  -- name
		@psurname,  -- psurname
		@msurname,  -- msurname
		@phone,  -- phone
		@email,  -- email
		@rfc,  -- rfc
		@cpCode,  -- cp_code
		@address,  -- address
		@catStatesId,  -- cat_states_id
		@catTownsId   -- cat_towns_id
	);
	
	-- Verifica si hubo algún error en la inserción
	IF @@ERROR <> 0
	BEGIN
		-- Si hay un error, realiza un rollback para deshacer los cambios
		ROLLBACK TRANSACTION;
		SELECT 
		-1 as 'code',
		'Eror al momento de insertar el usuario' as 'message'
		RETURN;
	END

	-- Si no hay errores, confirma la transacción
	COMMIT TRANSACTION;

	-- Guardar registro
	SET @logMessageNew = CONCAT('Creación de usuario/cliente: ', CAST(@userIdTemporal AS NVARCHAR(50)))
	INSERT INTO log_changes(new_value,cat_user_id,log_date)
	VALUES (@logMessageNew,@userId,GETDATE())

	SELECT 
	1 as 'code',
	'usuario registrado con éxito' as 'message'
END
-----------------------------------------------------------------------------------------------------------
IF @method = 'createCustomer' BEGIN
	/*
		requiere que se le envien
			-@email --------------- requerido
			-@password ------------ requerido
			-@catRolesId ---------- requerido
			-@catStatusId --------- requerido
			-@name ---------------- requerido
			-@psurname ------------ requerido
			-@msurname
			-@phone
			-@rfc
			-@cpCode
			-@address
			-@catStatesId --------- requerido
			-@catTownsId ---------- requerido
	*/

	BEGIN TRANSACTION;

	-- Incrementar el número de cliente de 8 en 8 
	SELECT TOP(1)
	@customerNumber = customer_number
	FROM cat_customers ORDER BY id DESC
	SET @customerNumber = @customerNumber + 8

	-- Insertar datos a empleados
	INSERT INTO [cat_customers] (
		[customer_number], 
		[cat_status_id], 
		[name], 
		[psurname], 
		[msurname], 
		[phone], 
		[email], 
		[rfc], 
		[cp_code], 
		[address], 
		[cat_states_id], 
		[cat_towns_id]
	)
	VALUES (
		@customerNumber,  -- customer_number
		@catStatusId,  -- cat_status_id
		@name,  -- name
		@psurname,  -- psurname
		@msurname,  -- msurname
		@phone,  -- phone
		@email,  -- email
		@rfc,  -- rfc
		@cpCode,  -- cp_code
		@address,  -- address
		@catStatesId,  -- cat_states_id
		@catTownsId   -- cat_towns_id
	);
	
	-- Verifica si hubo algún error en la inserción
	IF @@ERROR <> 0
	BEGIN
		-- Si hay un error, realiza un rollback para deshacer los cambios
		ROLLBACK TRANSACTION;
		SELECT 
		-1 as 'code',
		'Eror al momento de insertar el usuario' as 'message'
		RETURN;
	END

	-- Si no hay errores, confirma la transacción
	COMMIT TRANSACTION;

	-- Guardar registro
	SET @logMessageNew = CONCAT('Creación de cliente, #cliente: ', CAST(@customerNumber AS NVARCHAR(50)))
	INSERT INTO log_changes(new_value,cat_user_id,log_date)
	VALUES (@logMessageNew,@userId,GETDATE())

	SELECT 
	1 as 'code',
	'usuario registrado con éxito' as 'message'
END
-----------------------------------------------------------------------------------------------------------
IF @method = 'linkUserCustomer' BEGIN
	/*
		requiere que se le envien todos los datos son requeridos
			-@customerId
			-@password
	*/

	-- Valida que correo este disponible
	SELECT 
	@email = [email]
	FROM [cat_customers] 
	WHERE [id] = @customerId

	SELECT 
	@existUser = COUNT(id)
	FROM [cat_user]
	WHERE [email] = @email;

	IF @existUser>0 BEGIN
		SELECT 
		-1 as 'code',
		'Correo ya utilizado por otro usuario' as 'message'
		RETURN;
	END

	-- Convierte contraseña a Base64
	SET @Base64Password  = (SELECT CAST(@password as varbinary(max)) FOR XML PATH(''))

	BEGIN TRANSACTION;

	-- Insertar datos a usuario
	DECLARE @generated_keys__link_customer table([Id] int)
	INSERT INTO [cat_user] ([email], [password], [cat_roles_id], [cat_status_id])
	OUTPUT INSERTED.ID INTO @generated_keys__link_customer
	VALUES (
		@email,          -- correo
		@Base64Password, -- contraseña encriptada
		'7',		     -- rol de cliente
		'1'     -- estatus del cliente
	);
	SELECT @userIdTemporal = id FROM @generated_keys__link_customer

	-- Actualiza cliente ligandolo a un usuario
	UPDATE [cat_customers]
	SET cat_user_id = @userIdTemporal
	WHERE id = @customerId
	
	-- Verifica si hubo algún error en la inserción
	IF @@ERROR <> 0
	BEGIN
		-- Si hay un error, realiza un rollback para deshacer los cambios
		ROLLBACK TRANSACTION;
		SELECT 
		-1 as 'code',
		'Eror al momento de insertar el usuario' as 'message'
		RETURN;
	END

	-- Si no hay errores, confirma la transacción
	COMMIT TRANSACTION;

	-- Guardar registro
	SET @logMessageNew = CONCAT('Ligado de cliente #: ', CAST(@customerNumber AS NVARCHAR(50)), ' a usuario: ', CAST(@userIdTemporal AS NVARCHAR(50)))
	INSERT INTO log_changes(new_value,cat_user_id,log_date)
	VALUES (@logMessageNew,@userId,GETDATE())

	SELECT 
	1 as 'code',
	'usuario registrado con éxito' as 'message'
END
-----------------------------------------------------------------------------------------------------------
IF @method = 'employeeLogin' BEGIN
	/*
		requiere que se le envien todos los datos son requeridos
			-@email
			-@password
	*/

	-- Valida que correo exista
	SELECT 
	@existUser = COUNT(id)
	FROM [cat_user]
	WHERE [email] = @email
	AND cat_roles_id <> 7; -- diferente al rol de cliente

	IF @existUser=0 BEGIN
		SELECT 
		-1 as 'code',
		'Usuario no encontrado' as 'message'
		RETURN;
	END

	-- Convierte contraseña a Base64
	SET @Base64Password  = (SELECT CAST(@password as varbinary(max)) FOR XML PATH(''))

	IF @Base64Password is null BEGIN
		SELECT 
		-1 as 'code',
		'Credenciales incorrectas' as 'message'
		RETURN;
	END

	--Compara ambas contraseñas encriptadas
	SELECT 
	@password = [password]
	FROM [cat_user]
	WHERE [email] = @email;

	IF @password != @Base64Password BEGIN
		SELECT 
		-1 as 'code',
		'Credenciales incorrectas' as 'message'
		RETURN;
	END

	SELECT 
	1 as 'code',
	'éxito' as 'message',
	e.*,
	u.cat_roles_id,
	r.role,
	u.cat_status_id,
	s.description as 'status'
	FROM cat_employee e
	INNER JOIN [cat_user] u ON u.id = e.cat_user_id
	INNER JOIN [cat_roles] r ON r.id = u.cat_roles_id
	INNER JOiN [cat_status] s ON s.id = u.cat_status_id
	WHERE e.[email] = @email;
END
-----------------------------------------------------------------------------------------------------------
IF @method = 'customerLogin' BEGIN
	/*
		requiere que se le envien todos los datos son requeridos
			-@email
			-@password
	*/

	-- Valida que correo exista
	SELECT 
	@existUser = COUNT(id)
	FROM [cat_user]
	WHERE [email] = @email
	AND cat_roles_id = 7; -- rol de cliente

	IF @existUser=0 BEGIN
		SELECT 
		-1 as 'code',
		'Usuario no encontrado' as 'message'
		RETURN;
	END

	-- Convierte contraseña a Base64
	SET @Base64Password  = (SELECT CAST(@password as varbinary(max)) FOR XML PATH(''))

	--Compara ambas contraseñas encriptadas
	SELECT 
	@password = [password]
	FROM [cat_user]
	WHERE [email] = @email;

	IF @password<>@Base64Password BEGIN
		SELECT 
		-1 as 'code',
		'Credenciales incorrectas' as 'message'
		RETURN;
	END

	SELECT 
	1 as 'code',
	'éxito' as 'message',
	*
	FROM cat_customers 
	WHERE [email] = @email;
END
-----------------------------------------------------------------------------------------------------------
IF @method = 'updatePassword' BEGIN
	/*
		requiere que se le envien todos los datos son requeridos
			-@userId
			-@password
	*/

	-- Convierte contraseña a Base64
	SET @Base64Password  = (SELECT CAST(@password as varbinary(max)) FOR XML PATH(''))

	-- Consultar antiguo valor
	SELECT
	@logMessageOld = [password]
	FROM [cat_user]
	WHERE id = @userId

	-- Valida que la contraseña sea diferente
	IF @logMessageOld = @Base64Password BEGIN
		SELECT 
		-1 as 'code',
		'La nueva contraseña debe ser diferente a la anterior' as 'message'
		RETURN;
	END

	-- Actualiza la contraseña
	UPDATE [cat_user]
	SET [password] = @Base64Password
	WHERE id = @userId

	-- Verifica si hubo algún error en la actualización
	IF @@ERROR <> 0
	BEGIN
		-- Si hay un error, realiza un rollback para deshacer los cambios
		SELECT 
		-1 as 'code',
		'Eror al momento de actualizar la contraseña' as 'message'
		RETURN;
	END

	-- Guardar registro
	SET @logMessageNew = CONCAT('contraseña nueva: ', @Base64Password)
	SET @logMessageOld = CONCAT('contraseña anterior: ', @logMessageOld)
	INSERT INTO log_changes(old_value,new_value,cat_user_id,log_date)
	VALUES (@logMessageOld,@logMessageNew,@userId,GETDATE())

	SELECT 
	1 as 'code',
	'éxito' as 'message'
END
-----------------------------------------------------------------------------------------------------------
IF @method = 'recoverPassword' BEGIN
	/*
		requiere que se le envien todos los datos son requeridos
			-@email
			-@password
	*/

	-- Convierte contraseña a Base64
	SET @Base64Password  = (SELECT CAST(@password as varbinary(max)) FOR XML PATH(''))

	--Actualiza la contraseña
	UPDATE [cat_user]
	SET [password] = @Base64Password
	WHERE email = @email

	-- Verifica si hubo algún error en la actualización
	IF @@ERROR <> 0
	BEGIN
		-- Si hay un error, realiza un rollback para deshacer los cambios
		SELECT 
		-1 as 'code',
		'Eror al momento de actualizar contraseña' as 'message'
		RETURN;
	END

	SELECT 
	1 as 'code',
	'éxito' as 'message'
END
-----------------------------------------------------------------------------------------------------------