USE [alexisnoches_SampleDB]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[stp_federal_tax]
(
	@method 					VARCHAR(100)
	, @cost						DECIMAL(10, 2)	= NULL
	, @tempcost					DECIMAL(10, 2)	= NULL
	, @logMessageNew			VARCHAR(MAX)	= NULL
	, @logMessageOld			VARCHAR(MAX)	= NULL
	, @userId					INT				= NULL
)
 
AS
SET NOCOUNT ON
-----------------------------------------------------------------------------------------------------------
IF @method = 'consultAll' BEGIN
	SELECT * FROM [cat_federal_tax]
END
-----------------------------------------------------------------------------------------------------------
IF @method = 'update' BEGIN

	SELECT
	@tempcost = [cost]
	FROM [cat_federal_tax]
	
	IF @cost is NULL
		BEGIN
			SET @cost = @tempcost
		END
	ELSE
		BEGIN
			IF @cost != @tempcost
				BEGIN
					SET @logMessageOld = CONCAT(@logMessageOld, ' cost: ', @tempcost)
					SET @logMessageNew = CONCAT(@logMessageNew, ' cost: ', @cost)
				END
		END


	BEGIN TRANSACTION;
	
	UPDATE [cat_federal_tax]
	SET [cost] = @cost


	IF @@ERROR <> 0
	BEGIN
		-- Si hay un error, realiza un rollback para deshacer los cambios
		ROLLBACK TRANSACTION;
		SELECT 
		-1 as 'code',
		'Eror al momento de actualizar impuesto federal' as 'message'
		RETURN;
	END

	COMMIT TRANSACTION;

	-- Guardar registro
	INSERT INTO log_changes(new_value,old_value,cat_user_id,log_date)
	VALUES (@logMessageNew,@logMessageOld,@userId,GETDATE())

	SELECT 
	1 as 'code',
	'impuesto federal actualizado con éxito' as 'message'
END
-----------------------------------------------------------------------------------------------------------