USE [alexisnoches_SampleDB]
GO
/****** Object:  StoredProcedure [dbo].[stp_cities]    Script Date: 5/6/2024 4:07:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*****************************************************************************/

CREATE PROCEDURE [dbo].[stp_misa]	
(
	@method 					VARCHAR(100)
	, @misaId					INT			 = NULL
	, @dayId					INT			 = NULL
	, @hour						VARCHAR(10) = NULL
	, @logMessageNew			VARCHAR(MAX) = NULL
	, @userId					INT			 = NULL
)
 
AS
SET NOCOUNT ON
-----------------------------------------------------------------------------------------------------------
IF @method = 'consultAll' BEGIN
	SELECT 
	m.*
	, d.day
	FROM [cat_misa] m
	INNER JOIN [cat_days] d ON m.cat_days_id = d.id
	WHERE m.cat_status_id = '1003' -- estatus activo
END
-----------------------------------------------------------------------------------------------------------
IF @method = 'create' BEGIN
	BEGIN TRANSACTION;
	
	DECLARE @generated_keys_misa table([Id] int)

	INSERT INTO [cat_misa] ([cat_days_id],[hour],[cat_status_id])
	OUTPUT INSERTED.ID INTO @generated_keys_misa
	VALUES (@dayId,@hour,1003)-- estatus activo

	SELECT @misaId = id FROM @generated_keys_misa

	IF @@ERROR <> 0
	BEGIN
		-- Si hay un error, realiza un rollback para deshacer los cambios
		ROLLBACK TRANSACTION;
		SELECT 
		-1 as 'code',
		'Eror al momento de insertar misa' as 'message'
		RETURN;
	END

	COMMIT TRANSACTION;

	-- Guardar registro
	SET @logMessageNew = CONCAT('Creación de misa: ', @misaId)
	INSERT INTO log_changes(new_value,cat_user_id,log_date)
	VALUES (@logMessageNew,@userId,GETDATE())

	SELECT 
	1 as 'code',
	'misa creada con éxito' as 'message'
END
-----------------------------------------------------------------------------------------------------------
IF @method = 'delete' BEGIN
	BEGIN TRANSACTION;
	
	UPDATE [cat_misa]
	SET [cat_status_id] = '1004'
	WHERE id = @misaId

	IF @@ERROR <> 0
	BEGIN
		-- Si hay un error, realiza un rollback para deshacer los cambios
		ROLLBACK TRANSACTION;
		SELECT 
		-1 as 'code',
		'Eror al momento de eliminar misa' as 'message'
		RETURN;
	END

	COMMIT TRANSACTION;

	-- Guardar registro
	SET @logMessageNew = CONCAT('Eliminación de misa: ', @misaId)
	INSERT INTO log_changes(new_value,cat_user_id,log_date)
	VALUES (@logMessageNew,@userId,GETDATE())

	SELECT 
	1 as 'code',
	'misa eliminada con éxito' as 'message'
END
-----------------------------------------------------------------------------------------------------------